<div class="top-box">
    <div class="title-box">
        <h1 class="mb-1">巡礼記録アプリ</h1>
        <p>アニメの聖地はもちろん、観光名所や行きたい場所を巡る際に活用できるwebアプリ</p>
    </div>
</div>

<div class="login-box">
    <a href="/users/sign_in" class="btn btn-dark"><i class="bi bi-box-arrow-in-right me-1"></i>ログイン</a>
    <a href="/users/sign_up" class="btn btn-dark"><i class="bi bi-plus me-1"></i>新規登録</a>
</div>
