<% provide(:page_title, "グループの追加") %>

<div class="main-box">
  <div class="text-center">
    <h2><%= @group.name %></h2>
    <% if @group.comment.present? %>
    <p><%= @group.comment %></p>
    <% end %>
  </div>
  <div class="main-content">
    <div class="button-box">
        <%= link_to "戻る", :back, class: "btn btn-outline-primary w-100" %>
    </div>
  </div>
</div>
