<% provide(:page_title, "グループの追加") %>

<div class="main-box">
  <div class="text-center">
    <h2>グループ詳細</h2>
    <p><%= @group.name %></p>
  </div>
  <div class="main-content">
    <% if @group.comment.present? %>
    <div clas="group-comment">
        <h3>グループのコメント</h3>
        <p><%= @group.comment %></p>
    </div>
    <% end %>
    
    <div class="button-box">
        <%= link_to "戻る", :back, class: "btn btn-outline-primary w-100" %>
    </div>
  </div>
</div>
