<div class="main-box">
    <div class="text-center">
        <h2>こんにちは、<%= current_user.name %>さん！</h2>
    </div>
    <div class="main-content user-home-content">
        <%= link_to "ユーザ情報の設定", edit_user_registration_path, class: "btn btn-dark" %>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-warning w-100" %>
    </div>
</div>
