/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* 変数 */
$main-color: #B5CAA0;

@font-face {
   font-family: "line-font";
   src: url('/assets/LINESeedJP_TTF_Rg.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}

body {
   font-family: "line-font", sans-serif!important;
}

.top-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 50vh;
   justify-content: flex-end;
   .title-box {
      text-align: center;
   }
}

.login-box {
   display: flex;
   justify-content: center;
   gap: 2rem;
}

.main-box {
   padding-top: 1rem;
   padding-bottom: 1rem;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.user-home-content {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.main-alert-box {
   position: fixed;
   z-index: 100;
   width: 100vw;
}

.custom-alert {
   position: fixed;
   width: 100vw;
   z-index: 100;
   top: 0;
   left: 0;
   p, ul {
      margin: 0;
   }
}
